/* GENERAL SETTINGS */
* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: #ffee4a;
  text-shadow: 1px 1px 1px black;
}

#body {
  text-align: center;
  width: 100vw;
  height: 100vh !important;
  overflow: hidden;
  background-color: #03001c;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  width: 100%;
  height: 78%;
  flex-direction: column;
}

/* HEADER */

#header {
  width: 100%;
  height: 20%;
  flex-direction: column;
  justify-content: space-around;
}

#titleHeader {
  width: 60vw;
  font-family: "Rubik", sans-serif;
  font-size: 8vw;
  white-space: nowrap;
  color: #ffee4a;
}

.headerParagraph {
  font-size: 4.2vw;
  font-family: "Rubik", sans-serif;
  color: #ffee4a;
}

.headerContainer {
  width: 100%;
  flex-direction: column;
  height: 50%;
  background-color: transparent;

}

#searchBar {
  width: 90%;
  height: 50%;
  align-items: center;
}

#searchText {
  display: block;
  border: 1px solid black;
  width: 60vw;
  font-size: 4vw;
  color: #ffee4a;
  background-color: #77477e;
  height: 40%;
}

/* BIRTHDAY SECTION */

#birthdaySection {
  width: 100%;
  display: flex;
  min-height: 50%;
  max-height: 50%;
}

.birthdayList {
  width: 95%;
  max-height: 100%;
  min-height: 100%;
  list-style: none;
  margin: none;
  overflow: scroll;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-left: none;
  border: 2px solid #77477e;
}

/* ITEMS */

.listItem {
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  height: auto;
  justify-content: space-between;
  background-color: black;
  box-shadow: 3px 3px 4px #032e38;

}

.listItemSpan {
  height: auto;
  width: 100%;
  font-size: 4.2vw;
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 2%;
  text-align: start;
  color: #fe9600;
  
}

.birthdaySpan {
  font-size: 10vw;
  align-items: flex-end;
  justify-content: end;
  width: 70%;
  height: auto;
  border-right: 2px solid #77477e;

}

.signSpan {
  font-weight: bold;
}

.nameAndDateSpan {
  flex-direction: column;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 30%;
}

.spanContainer {
  width: 80%;
  height: auto;
  flex-flow: row nowrap;
  padding-top: 3%;
  padding-bottom: 3%;
}

.itemDiv {
  width: 20%;
  height: 100%;
  align-items: flex-start;
  justify-content: end;
}

.deleteItem {
  cursor: pointer;
  padding: 10%;
  font-size: 5vw;
  transition: all 0.2s ease;
  color: #77477e;
}

/* NEW DATE SECTION */

#newDateSection {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#send {
  font-size: 3.6vw;
  width: 80%;
  height: 20%;
  margin-bottom: 2%;
  cursor: pointer;
  color: #ffee4a;
  transition: all 0.1s ease-in;
  border: 10px solid #03001c;
}

#send:hover {
}

#delete {
  color: #ffee4a;
  width: 80%;
  height: 20%;
  white-space: nowrap;
  font-size: 3.6vw;
  border: 10px solid rgb(141, 2, 2);
}

#delete:hover {
}

/* FORM STYLES */

#asideForm {
  display: flex;
  width: 95%;
  height: 95%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #77477e;
  border-radius: 2rem;
}

#asideForm div {
  width: 100%;
  height: 20%;
}

#asideForm div input {
  border: 1px solid black;
  height: 100%;
  width: 80%;
  font-size: 8vw;
  color: #ffee4a;
  background-color: #03001c ;
}

#asideForm div input::placeholder {
  color: #ffee4a;
  opacity: 1;
}

#asideForm input {
  font-size: 8vw;
  cursor: pointer;
  color: #ffee4a;
  background-color: #03001c ;
  border: 1px solid black;
  width: 80%;
  height: 20%;
}





/* THEMES */
.darkTheme {
  background-color: #03001c;
  color: white;

}
.lightTheme {
  background-color: #ffee4a;
  color: black;
}
