
/* GENERAL SETTINGS */
* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  text-align: center;
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  width: 100%;
  height: 70%;
  flex-direction: column;
}


/* HEADER */


#header {
  width: 100%;
  height: 30%;
  border-bottom: 1px solid black;
  flex-direction: column;
  justify-content: space-around;
}


#titleHeader {
  width: 60vw;
  font-family: "Rubik", sans-serif;
  font-size: 8vw;
  white-space: nowrap;
  color: white;
}

.headerParagraph {
  font-size: 4.2vw;
  font-family: "Rubik", sans-serif;
  color: white;
}



.headerContainer {
  width: 100%;
  flex-direction: column;
  height: 50%;
}

#searchBar {
  width: 90%;
  height: 20%;
}

#searchButton {
  width: 20vw;
  height: 100%;
  background-color: white;
  color: black;
  margin-left: 4%;
  cursor: pointer;
  font-size: 4vw;
}


#searchButton:hover {
  background-color: rgb(179, 179, 179);
}


#searchText {
  border: 1px solid #67e3ffb9;
  height: 100%;
  font-size: 2vw;
  width: 30%;
  color: white;
}

#reinitButton {
  font-size: 4vw;
  width: 20vw;
  height: 100%;
  background-color: #67e3ffb9;
  color: black;
  margin-left: 4%;
  cursor: pointer;
}

#reinitButton:hover {
  background-color: #4698aab9;
}




/* BIRTHDAY SECTION */

#birthdaySection {
  width: 100%;
  height: 50%;
  align-self: flex-start;
  border-bottom: 1px solid black;
  background-color: #67e3ffb9;
}

.birthdayList {
  width: 100%;
  height: 100%;
  list-style: none;
  margin: none;
  overflow: scroll;
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 3px solid white;
  border-left: none;
}

/* ITEMS */

.listItem {
  margin: 5% 0 5% 0;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  height: auto;
  padding: 0.5rem;
  justify-content: space-between;
  background-color: black;
  color: white;
}

.listItemSpan {
  height: 100%;
  width: 70%;
  font-size: 4.2vw;
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  padding: 2%;
  text-align: end;
}

.birthdaySpan{
  font-size: 10vw;
  align-items: flex-end;
  justify-content: end;
  width: 100%;
  height: 100%;
}

.signSpan {
  font-weight: bold;
}

.nameAndDateSpan{
  flex-direction: column;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


.spanContainer {
  width: 80%;
  height: 10vh;
  flex-flow: row nowrap;
}


.itemDiv {
  width: 20%;
  height: 100%;
  align-items: flex-start;
  justify-content: end;
}

.deleteItem {
  cursor: pointer;
  padding: 10%;
  font-size: 2vw;
  transition: all 0.2s ease;
}

.deleteItem:hover {
  font-size: 3vw;
}


/* NEW DATE SECTION */

#newDateSection {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.labelContainer {
  width: 100%;
  height: 5vh;
}

#labelName {
  font-size: 5vw;
  margin-bottom: 2%;
  cursor: pointer;
  color: white;

}

#name {
  margin-bottom: 2%;
  margin-left: 3%;
  cursor: pointer;
  border: 1px solid #67e3ffb9;
  height: 100%;
  width: 30vw;
  font-size: 5vw;
  color: white;
}


#date {
  font-size: 10vw;
  margin-bottom: 2%;
  cursor: pointer;
  color: white;
  border: 1px solid white;

}
#send {
  font-size: 5vw;
  width: 40%;
  height: 6vh;
  margin-bottom: 2%;
  background-color: rgb(79, 241, 79);
  cursor: pointer;
  color: black;
  transition: all 0.1s ease-in;
}


#send:hover {
  background-color: rgb(51, 138, 51);
}

#delete {
  color: black;
  width: 40%;
  height: 6vh;
  white-space: nowrap;
  background-color: rgba(255, 36, 36, 0.808);
  font-size: 3.6vw;
}


#delete:hover {
  background-color: rgba(167, 26, 26, 0.808);
}
