@media screen and (min-width: 1178px) {
  #header {
    width: 100%;
    height: 30%;
  }

  #main {
    flex-direction: row;
  }

  #titleHeader {
    font-size: 3vw;
    white-space: nowrap;
  }

  .headerParagraph {
    font-size: 1.7vw;
  }

  #birthdaySection {
    width: 60%;
    height: 100%;
    border-bottom: 10px solid black;
  }

  .listItem {
    margin: 2% 0 2% 0;
    font-weight: 600;
    font-family: "Courier New", Courier, monospace;
    width: 100%;
    height: 27vh;
    padding: 0.5rem;
    box-shadow: 3px 3px 4px #032e38;
    justify-content: space-between;
    background-color: black;
    color: white;
  }

  .listItemSpan {
    height: 33%;
    width: 70%;
    font-size: 1.7vw;
   
  }

  .spanContainer {
    width: 80%;
    height: 20vh;
    flex-flow: column nowrap;
  }
  
  #newDateSection {
    width: 40%;
    padding: 2% 0 0 2%;
  }

  .labelContainer {
    width: 100%;
    height: 5vh;
  }
  
  #labelName {
    font-size: 2vw;
  }

  #name {
    margin-bottom: 2%;
    cursor: pointer;
    width: 15vw;
    font-size: 2vw;
  }

  #date {
    font-size: 2.5vw;
  }
  #send {
    font-size: 3vw;
    width: 60%;
    height: 10vh;
  }

  #delete {
    font-size: 1.8vw;
    width: 60%;
    height: 10vh;
  }

  #searchButton {
    font-size: 2vw;
  }


  #searchText {
    font-size: 2vw;
  }

  #reinitButton {
    font-size: 2vw;
  }

  .spanContainer {
    width: 80%;
  }


.birthdaySpan{
  font-size: 8vw;
  width: 100%;
  height: 100%;
}

.signSpan {
  font-weight: bold;
}

.nameAndDateSpan{
  flex-direction: column;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}


.spanContainer {
  width: 80%;
  height: 21vh;
  flex-flow: row nowrap;
}
}