* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;

}


body {
  text-align: center;
  background-color: rgb(223, 221, 221);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;


}

#header {
  width: 100%;
  height: 30%;
  border-bottom: 1px solid black;
  flex-direction: column;
  justify-content: space-around;
}

#main {
  width: 100%;
  height: 70%;
  flex-direction: row;


}

#titleHeader {
  width: 60vw;
  font-family: "Rubik", sans-serif;
  font-size: 6vw;
  white-space: nowrap;
}

.headerParagraph {
  font-size: 2.5vw;
  font-family: "Rubik", sans-serif;


}

#birthdaySection {
  width: 60%;
  height: 100%;
  align-self: flex-start;
  border-right: 1px solid black;
}


.birthdayList {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: none;
  overflow: scroll;
  display: flex;
  flex-flow: column;
  align-items: center;

}

.listItem {
  margin: 5% 0 5% 0;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  width: 80%;
  height: 30vh;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px;
  justify-content: space-between;


}

.listItemSpan {
  height: 20vh;
  width: 33%;
  font-size: 2vw;
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;


}

.hrItems {
  border: 1px solid black;
  width: 70%;

}

#newDateSection {
  width: 40%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  padding: 2% 0 0 2%;
 
}

#labelName {
  font-size: 2vw;
  margin-bottom: 2%;
  cursor: pointer;

}

#name {
  margin-bottom: 2%;
  cursor: pointer;
  border: 1px solid black;
  height: 12%;
  width: 15vw;
  font-size: 2vw;

}


#labelDate {
  font-size: 2vw;
  margin-bottom: 2%;
  cursor: pointer;

}

#date {
  font-size: 2vw;
  margin-bottom: 2%;
  cursor: pointer;

}
#send {
  font-size: 3vw;
  padding: 4%;
  margin-bottom: 2%;
  background-color: green;
  cursor: pointer;
  color: white;
  box-shadow: 1px 1px 5px;
  transition: all 0.1s ease-in;
}

#delete {
  color: white;
  padding: 5%;
  white-space: nowrap;
  background-color: red;
  font-size: 1.8vw;
}

#send:hover {
  background-color: lightgreen;
  color: black;
  transform: scale(1);
}

.headerContainer {
  width: 100%;
  flex-direction: column;
  height: 50%;
}

#searchBar {
  width: 90%;
  height: 20%;
}

#searchButton {
  width: 20vw;
  height: 100%;
  background-color: white;
  color: black;
  margin-left: 4%;
  cursor: pointer;
  font-size: 2vw;
  
}#send:hover {
    background-color: lightgreen;
    border: 1px solid black;
    color: black;
    transform: scale(1);

}

#searchText {
  border: 1px solid;
  height: 100%;
  font-size: 2vw;
  width: 30%;
}

#reinitButton {
  font-size: 2vw;
  width: 20vw;
  height: 100%;
  background-color: black;
  color: white;
  margin-left: 4%;
  cursor: pointer;
}


.spanContainer {
  width: 80%;
}

.itemDiv {
  width: 20%;
  height: 100%;
  align-items: flex-start;
  justify-content: end;
}


.deleteItem {
  cursor: pointer;
  padding: 10%;
  font-size: 2vw;
}



@media screen and (max-width: 576px) {
  #main {
    flex-flow: nowrap column;
  }

  #birthdaySection {
    width: 100%;
    border-right: none;
    overflow: hidden;
  }

  #newDateSection {
    width: 100%;
    height: 50%;
    flex-direction: column;
    align-items: center;
    padding: 0%;
  }

  .listItem {
    width: 95%;
    height: 25vh;
  }

  .listItemSpan {
    font-size: 4.2vw;
  }

  .headerContainer {
    width: 100%;
    flex-direction: column;
    height: 50%;
  }

  #searchBar {
    width: 90%;
    height: 10%;
  }

  #searchButton {
    width: 20vw;
    height: 3rem;
    font-size: 4vw;
  }

  #searchText {
    border: 1px solid;
    height: 3rem;
    width: 30vw;
  }

  #reinitButton {
    font-size: 4vw;
    width: 20vw;
    height: 3rem;
  }

  #send {
    font-size: 7vw;
    padding: 5%;
    margin-bottom: 2%;
    background-color: green;
    cursor: pointer;
    color: white;
    box-shadow: 1px 1px 5px;
    transition: all 0.1s ease-in;
  }

  #delete {
    width: 40vw;
    color: white;
    font-size: 3vw;
    padding: 3%;
    white-space: nowrap;
    background-color: red;
  }

  #date {
    font-size: 10vw;
    cursor: pointer;
  }


  .spanContainer {
    width: 80%;
  }

  .itemDiv {
    width: 20%;
    height: 100%;
    align-items: flex-start;
    justify-content: end;
  }


  .deleteItem {
    cursor: pointer;
    padding: 10%;
    font-size: 7vw;
  }

    #main {
        flex-flow: nowrap column;
    }


    #birthdaySection {
        width:100%;
        border-right: none;
        overflow: hidden;

    }


    #newDateSection {
        width: 100%;
        align-items: center;
    }

    .listItem {
        width:95%
    }

    .listItemSpan {
        font-size: 4.2vw;
    }


    .headerContainer {
        width: 100%;
        flex-direction: column;
        height: 50%;
    }


    #searchBar {
        width: 90%;
        height: 10%;
    }

    #searchButton {
        width: 20vw;
        height: 3rem;
        background-color: black;
        color: white;
        margin-left: 4%;
        cursor: pointer;
    }

    #searchText {
        border: 1px solid;
        height: 3rem;
    }

    #reinitButton {
        width: 20vw;
        height: 3rem;
        background-color: red;
        color: white;
        margin-left: 4%;
        cursor: pointer;
    }

  }